.container {
    margin: 45px auto;
    padding: 0 16rem;
    font-family: Poppins;
}

.center {
    font-family: Poppins;
    text-align: center;
}
.container ul{
    box-sizing: border-box;
    margin-left: 35px;
}
.container h2{
    margin-top: 8px;
}
.container p{
    text-align: justify;
}

@media (max-width: 1000px) {
    .container{
        padding: 0 8rem;
    }
}
@media (max-width: 700px) {
    .container{
        padding: 0 2rem;
    }
}